[submodule "Hydrogen/vendor/assimp"]
	path = Hydrogen/vendor/assimp
	url = https://github.com/assimp/assimp.git
[submodule "Hydrogen/vendor/spdlog"]
	path = Hydrogen/vendor/spdlog
	url = https://github.com/gabime/spdlog
